body {
    background-image: url(./imagenes/image5.png);
    font-family: 'Open Sans', sans-serif;
}

.container {
    color: white;
    text-align: center;
    margin: 0px auto;
    height: 400px;
    width: 400px;
}

.square{
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 70px;
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    height: 120px;
    width: 120px;
    cursor: pointer;
};

.video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}